/* SARAH + SOFIE */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */
:root {
  --background: #fbf9ec;
  --foreground: #171717;
  --main: #396238;
  --orange: #f6b485;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3 {
  font-family: "Encode Sans Expanded", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 400;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.75rem;
}

/* body + main */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 150%;
}

main {
  margin: 6rem auto;
  width: 80%;
}

/* btns + links */
.btns {
  background-color: var(--main);
  color: var(--background);
  border-radius: 20px;
  padding: 0.5rem 1.25rem;
  font-family: "Encode Sans Expanded", sans-serif;
}

.btns:hover {
  background-color: #224021;
}

a {
  font-family: "Encode Sans Expanded", sans-serif;
}
